<meta charset="UTF-8" />
<link rel="icon" type="image/png" href="/assets/myicons/favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/svg+xml" href="/assets/myicons/favicon.svg" />
<link rel="shortcut icon" href="/assets/myicons/favicon.ico" />
<link rel="apple-touch-icon" sizes="180x180" href="/assets/myicons/apple-touch-icon.png" />
<link rel="manifest" href="/assets/myicons/site.webmanifest" />
<link rel="stylesheet" type="text/css" href="main.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/firacode@6.2.0/distr/fira_code.css" />