html {
    scroll-behavior: smooth;
    font-size: 16px;
}

body {
    background-color: #404040;
    color: #b0b0b0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 1.0rem;
    margin-bottom: 0.0rem;
}

h1 {
    font-size: 3em;
    color: #ff8800;
}

h2 {
    font-size: 3em;
    color: #dd7700;
}

h3 {
    font-size: 2em;
    color: #dd7700;
}

h4 {
    font-size: 1.5em;
    color: #dd7700;
}

h5 {
    font-size: 1em;
    color: #dd7700;
}

h6 {
    font-size: 1em;
    color: #ff0000;
}

p {
    margin-top: 0.25em;
}

a:link, a:visited {
    color: #b0b0b0;
    text-decoration-style: underline;
}

a:hover, a:active {
    color: #ffffff;
}

abbr {
    text-decoration-style: dotted;
    cursor: help;
}

code, pre {
    font-family: 'Fira Code', monospace;
    font-feature-settings: "liga" on, "calt" on;
    color: #ffffff;
    background-color: #303030;
}

code {
    border-radius: 0.33em;
}

pre {
    border-radius: 1em;
    padding: 0.5em;
    width: fit-content;
}

code.func {
    color: cyan;
}

code.var {
    color: red;
}

code.const {
    color: darkorange;
}

code.com {
    color: darkgray;
}

code.lit {
    color: lightgreen;
}

code.t {
    color: gold;
}

code.kw {
    color: violet;
}

div.round {
    background-color: #2a2a2a;
    padding: 1em;
    border-radius: 2em;
    width: fit-content;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

a.round {
    background-color: #2a2a2a;
    padding: 1em;
    border-radius: 2em;
    width: fit-content;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

a.round:hover {
    background-color: #1a1a1a;
}

div.shape {
    background-color: #2a2a2a;
    padding: 1em;
    border-top-left-radius: 2em;
    border-bottom-right-radius: 2em;
    width: fit-content;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

a.shape {
    background-color: #2a2a2a;
    padding: 1em;
    border-top-left-radius: 2em;
    border-bottom-right-radius: 2em;
    width: fit-content;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}

a.shape:hover {
    background-color: #1a1a1a;
}

div.clear {
    width: 100%;
    background-color: transparent;
    height: 1em;
}

div.dclear {
    width: 100%;
    background-color: transparent;
    height: 2em;
}

div.tclear {
    width: 100%;
    background-color: transparent;
    height: 3em;
}

img.language {
    display: inline-block;
    height: 3em;
    width: auto;
    margin-right: 0.25em;
}

table.projects tr td a.shape,
table.projects tr td a.round {
    display: block;
    width: auto !important;
    text-align: center;
}

table.projects tr td {
    padding-right: 1em;
}

@media screen and (min-width: 1024px) {
    #navbar .dropdown:hover .dropdown-content{
        display: block;
    }

    #navbar a, #navbar a:visited, #navbar .dropbutton, #navbar .placeholder {
        display: block;
    }

    #navbar a:hover, #navbar a:active, #navbar .dropdown:hover .dropbutton {
        display: block;
    }

    #navbar a.active:hover, #navbar .dropdown.dropbutton.active:hover {
        box-shadow: inset #ff4400 0 -2em 0.5em -1.85em !important;
    }

    #navbar .icon {
        display: none;
    }
}

@media screen and (max-width: 1024px) {
    #navbar .icon {
        display: block !important;
        float: right !important;
    }

    #navbar a:not(:first-child), #navbar .dropdown .dropbutton{
        display: none;
    }

    #navbar.responsive {
        position: relative;
        margin-top: -8px;
    }

    #navbar.responsive a.icon {
        position: absolute;
        right: 8px;
        top: 0;
    }

    #navbar.responsive a {
        float: none !important;
        display: block;
        text-align: left !important;
    }

    #navbar.responsive .dropdown {float: none !important;}
    #navbar.responsive .dropdown-content {position: relative;}
    #navbar.responsive .dropdown .dropbutton {
        display: block;
        text-align: left !important;
    }

    #navbar .placeholder {
        display: none;
    }

    #navbar .dropdown-content {
        padding-left: 42px;
    }

    #navbar a.active, #navbar a.active:hover, #navbar .dropdown.dropbutton.active:hover {
        box-shadow:
            inset #ff4400 0 2em 0.5em -1.85em,
            inset #ff4400 0 -2em 0.5em -1.85em,
            inset #ff4400 2em 0 0.5em -1.85em,
            inset #ff4400 -2em 0 0.5em -1.85em
        !important;
    }

    #footer .left, #footer .right {
        display: none !important;
    }

}

#navbar {
    container-name: navbar;
    position: fixed;
    width: calc(100vw - 16px);
    margin: 0px -8px 0px;
    padding: 0px 8px 0px;
    top: 0;
    overflow: visible;
    background-color: #2a2a2a;
}

/* "#navbar a:visited" needed? */
#navbar a, #navbar a:visited, #navbar .dropbutton, #navbar .placeholder {
    float: left;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

#navbar a:hover, #navbar a:active, #navbar .dropdown:hover .dropbutton {
    float: left;
    color: #b0b0b0;
    background-color: #1a1a1a;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

#navbar a:hover, #navbar .dropbutton:hover {
    box-shadow: inset darkgray 0 0 3px 2px !important;
}

#navbar .dropdown-content a.active:hover {
    box-shadow: inset #ff4400 0 0 3px 2px !important;
}

#navbar a.active, #navbar a.active:visited {
    background-color: #2a2a2a;
    box-shadow: inset #ff4400 0 -2em 0.5em -1.85em;
    /* border-bottom: 0.15em solid #ff4400; */
    color: #ff4400 !important;
    font-weight: bold;
}

#navbar a.active:hover, #navbar a.active:active, #navbar .dropbutton.active:hover, #navbar .dropbutton.active:active {
    background-color: #1a1a1a;
    color: #ff4400;
}

#navbar .dropdown .dropbutton {
    background-color: #2a2a2a;
    color: #b0b0b0;
    overflow: hidden;
    outline: none;
    border: none;
    margin: 0;
}

#navbar .dropdown {
    float: left;
    overflow: visible;
    position: relative;
}

#navbar .dropdown:hover .dropdown-content a.active {
    box-shadow: inset 0 0 3px 2px #ff4400;
}

#navbar .dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 0;
    min-width: 100%;
}

#navbar .dropdown .dropdown-content.show {
    display: block;
}

#navbar .dropdown-content a {
    float: none !important;
    display: block;
    background-color: #2a2a2a;
}

#navbar .dropdown-content a:hover {
    background-color: #1a1a1a;
    box-shadow: inset 0 0 3px 2px #ff4400;
}

#footer {
    container-name: footer;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.45em;
    font-size: 0.9em;
    background-color: #202020;
    text-align: center;
    margin-top: 0em;
    margin-bottom: 0em;
}

#footer .left {
    position: absolute;
    left: 1em;
}

#footer .right {
    position: absolute;
    right: 1em;
}

@media print {
    #navbar {display: none;}
    #footer {display: none;}
    body {
        background: #fff;
        color: #000;
    }
    h1, h2, h3, h4, h5, h6 {
        color: #000;
    }
    a:any-link {
        color: #888;
    }
    pre, code {
        background: #ddd;
        color: #000;
    }
    .shape, .round {
        background-color: #ddd !important;
    }
    code.func {
        color: blue;
    }

    code.var {
        color: red;
    }

    code.const {
        color: darkorange;
    }

    code.com {
        color: gray;
    }

    code.lit {
        color: green;
    }

    code.t {
        color: olive;
    }

    code.kw {
        color: darkviolet;
    }
}